
.block_gioi_thieu_mon_content_header{
  
  border-top: 2px solid #017e3e;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  padding-left: 5px;
}

.block_gioi_thieu_mon_text-topica
{
  font-size: 13px;
  color: #017e3e;
  font-weight: bold;

  border-radius: 0px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  
}

.block_gioi_thieu_mon_text-topica:hover, .block_gioi_thieu_mon_text-topica:visited{
  color: #017e3e !important;
  text-decoration: none;
  
}
.block_gioi_thieu_mon_text-topica.collapsed:after {
  content: "\e080";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float:right;
}
.block_gioi_thieu_mon_text-topica:after {
  content: "\e114";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float:right;
}
.block_gioi_thieu_mon_list-unstyled{

  margin-bottom: 0px !important;
}
.block_gioi_thieu_mon_list-unstyled li
{
  list-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.block_gioi_thieu_mon_list-unstyled > :last-child{
 border:none;
}
.block_gioi_thieu_mon_litext-tpc
{
  border-bottom:1px solid #cdcdcd;

}
.block_gioi_thieu_mon_litext-tpc a
{
  color: black;
  display: block;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  font-size: 14px;
}
.menu-active{
  
  color:#fff !important;
}
.menu-active a{
  background-color: #017e3e;
  color:#fff !important;
  border-radius: 5px;
}
.block_gioi_thieu_mon .collapse.in{
  border-top: 2px solid #cdcdcd !important;
}