
.block_personal_profile_content_header{
  
  border-top: 2px solid #017e3e;
  
   color: #017e3e;
padding-top: 10px;
padding-left: 5px;
   padding-bottom: 10px;
}

.block_personal_profile_text-topica
{
  font-size: 13px;
    color: #017e3e;
    font-weight: bold;

    border-radius: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
   text-transform: uppercase;
    margin-top:-2px;
  font-weight: bold;
    text-align: left;
   
}
 .block_personal_profile_text-topica:hover, .block_personal_profile_text-topica:visited{
  color: #017e3e !important;
   text-decoration: none;
}

.block_personal_profile_text-topica.collapsed:after {
  content: "\e080";
  position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float:right;
    color: black;

}
.block_personal_profile_text-topica:after {
  content: "\e114";
  position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float:right;
    color: black;

}
.block_personal_profile_list-unstyled{

    margin-bottom: 0px !important;
}
.block_personal_profile_list-unstyled li
{
   
  list-style: none;
  padding-top:7px;
  padding-bottom:7px;
}

.block_personal_profile_list-unstyled > :last-child{
   border:none;
}
.block_personal_profile_litext-tpc
{
  border-bottom:1px solid #cdcdcd;
  padding-left: 5px;
}
.block_personal_profile_litext-tpc a
{
  color:black;
  margin-left: 15px;
}
.block_personal_profile .collapse.in{

 border-top: 2px solid #cdcdcd !important;
}