body{
    background: #b9b9b9;
}
.name_sv {
    text-transform: uppercase;
}
.panel-blue{
    background: #3a5795;
}
.panel-blue h4 {
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.panel-green {
    background: #016733;
    color: white;
    font-weight: bold;
}
.question_waper{
    background: #ffffff;
    padding: 10px 40px;
}
.number_question{
    margin-left: 40px;
}
.question_name{
    color: #017e3e;
}
.question_answer  input[type=radio] {
        height: 20px;
        width: 20px;
}